.business-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.biz-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* .biz-actions button {
  margin-left: 10px;
  padding: 6px 20px;
  border-radius: 6px;
  background: #cbbcff;
  border: 1px solid #000;
  cursor: pointer;
} */