.review-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #f3f4ff, #eef2ff);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.review-page * {
  box-sizing: border-box;
}

.review-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.review-page .card {
  width: 500px;
  background: #ffffff;
  padding: 28px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.review-page .title {
  text-align: center;
  color: #38B6FF;
  margin-bottom: 22px;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}

.review-page label {
  font-weight: 600;
  margin-top: 16px;
  display: block;
  color: #111;
}

.review-page input,
.review-page select,
.review-page textarea {
  width: 100%;
  margin-top: 6px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #000;
  font-size: 14px;
  background: #fff;
  color: #000;
}

.review-page textarea::placeholder {
  color: #666;
}

.review-page textarea {
  height: 90px;
  resize: none;
}

.review-page .lang-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.review-page .lang-btn {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
  font-size: 13px;
  color: #000;
}

.review-page .lang-btn.active {
  background: #38B6FF;
  border-color: #000;
  font-weight: 700;
}

.review-page .result-textarea {
  margin-top: 16px;
  height: 110px;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 12px;
  font-size: 14px;
}

.review-page .google-btn {
  width: 100%;
  padding: 14px;
  background: #38B6FF;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 14px;
  color: #000;
  border: 1px solid #000;
}

.review-page .google-btn:hover {
  background: #38B6FF;
}

.review-page .success-msg {
  margin-top: 12px;
  text-align: center;
  color: #38B6FF;
  font-weight: 600;
}

.business-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.business-logo {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
  border: 2px solid #000;
}

.business-name {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-align: center;
  display: inline-flex;       
  align-items: center;       
  gap: 6px;                   
}

.powered-by {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #38B6FF;
}

.powered-by {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.powered-link {
  color: #38B6FF;        
  text-decoration: underline;
  font-weight: 600;
}

.powered-link:hover {
  color: #38B6FF;
  cursor: pointer;
}

@media (max-width: 480px) {
  .review-page .card {
    width: 90%;
  }
}
